.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 42px;
  background: black;
  color: white;
  justify-content: center;
  padding: calc((100vw - 180px) * 0.02);
  text-align: center;
}

/* This is the worst way I could do this, but it's fast (to code)... it's very slow to run*/
.item {
  overflow: hidden;
  height: 600px;
  transition: width 600ms ease-out, height 600ms ease-out;
}

.item_collapsed {
  height: 0px;
}

.expand_body {
  font-weight: 300;
  font-size: 20px;
  margin-top: 30px;
  color: #595959;
}

.expand_container {
  font-size: 26px;
  line-height: 28px;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 50px;
  border-bottom: solid;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  width: 100%;
  border-width: 2px;
  border-color: #ebebeb;
  color: #595959;
  width: 80%;
}

.expand_container:hover {
  color: #6ecbb8;
}

.toggle_button {
  float: right;
}
